In [36]:
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json
!pip -q install geopy
from geopy.geocoders import Nominatim
import requests
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
!pip -q install geocoder
import geocoder
import time
!pip -q install folium
import folium

In [38]:
wiki_link = 'https://en.wikipedia.org/wiki/List_of_areas_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
wiki_page = requests.get(wiki_link, headers = headers)
wiki_page

In [39]:
soup = BeautifulSoup(wiki_page.content, 'html.parser')
table = soup.find('table', {'class':'wikitable sortable'}).tbody

In [40]:
rows = table.find_all('tr')

columns = [i.text.replace('\n', '')
           for i in rows[0].find_all('th')]

In [41]:
df = pd.DataFrame(columns = columns)
df

Empty DataFrame
Columns: [Location, London borough, Post town, Postcode district, Dial code, OS grid ref]
Index: []

In [42]:
for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    if len(tds) == 7:
        values = [tds[0].text, tds[1].text, tds[2].text.replace('\n', ''.replace('\xa0','')), tds[3].text, tds[4].text.replace('\n', ''.replace('\xa0','')), tds[5].text.replace('\n', ''.replace('\xa0','')), tds[6].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values = [td.text.replace('\n', '').replace('\xa0','') for td in tds]
        
        df = df.append(pd.Series(values, index = columns), ignore_index = True)
        df

In [43]:
df.head(5)

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [45]:
df = df.rename(index=str, columns = {'Location': 'Location', 'London\xa0borough': 'Borough', 'Post town': 'Post-town', 'Postcode\xa0district': 'Postcode', 'Dial\xa0code': 'Dial-code', 'OS grid ref': 'OSGridRef'})

In [46]:
df['Borough'] = df['Borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))

In [48]:
df.shape

(533, 6)

In [49]:
df.head()

,Location,Borough,Post-town,Postcode,Dial-code,OSGridRef
0,Abbey Wood,"Bexley, Greenwich",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon,CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon,CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728

In [50]:
df0 = df.drop('Postcode', axis=1).join(df['Postcode'].str.split(',', expand=True).stack().reset_index(level=1, drop=True).rename('Postcode'))

In [51]:
df0.shape

(637, 6)

In [52]:
df1 = df0[['Location', 'Borough', 'Postcode', 'Post-town']].reset_index(drop=True)

In [54]:
df1.head()

     Location                         Borough Postcode Post-town
0  Abbey Wood             Bexley,  Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3    LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4    LONDON
3       Angel                       Islington      EC1    LONDON
4       Angel                       Islington       N1    LONDON

In [55]:
df1.shape

(637, 4)

In [56]:
df2 = df1
df21 = df2[df2['Post-town'].str.contains('LONDON')]

In [58]:
df21.head()

     Location                         Borough Postcode Post-town
0  Abbey Wood             Bexley,  Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3    LONDON
2       Acton  Ealing, Hammersmith and Fulham       W4    LONDON
3       Angel                       Islington      EC1    LONDON
4       Angel                       Islington       N1    LONDON

In [59]:
df21.shape

(381, 4)

In [60]:
df3 = df21[['Location', 'Borough', 'Postcode']].reset_index(drop=True)

In [61]:
df3.head(10)

      Location                         Borough Postcode
0   Abbey Wood             Bexley,  Greenwich       SE2
1        Acton  Ealing, Hammersmith and Fulham       W3
2        Acton  Ealing, Hammersmith and Fulham       W4
3        Angel                       Islington      EC1
4        Angel                       Islington       N1
5   Church End                           Brent     NW10
6   Church End                          Barnet       N3
7      Clapham             Lambeth, Wandsworth      SW4
8  Clerkenwell                       Islington      EC1
9    Colindale                          Barnet      NW9

In [62]:
df_london = df3
df_london.to_csv('LondonLocations.csv', index = False)

In [63]:
df_london.head(5)

     Location                         Borough Postcode
0  Abbey Wood             Bexley,  Greenwich       SE2
1       Acton  Ealing, Hammersmith and Fulham       W3
2       Acton  Ealing, Hammersmith and Fulham       W4
3       Angel                       Islington      EC1
4       Angel                       Islington       N1

In [64]:
df_london.Postcode = df_london.Postcode.str.strip()

In [65]:
df_london.head()

     Location                         Borough Postcode
0  Abbey Wood             Bexley,  Greenwich       SE2
1       Acton  Ealing, Hammersmith and Fulham       W3
2       Acton  Ealing, Hammersmith and Fulham       W4
3       Angel                       Islington      EC1
4       Angel                       Islington       N1

In [66]:
df_se = df_london[df_london['Postcode'].str.startswith(('SE'))].reset_index(drop=True)

In [67]:
df_se.head(10)

         Location              Borough Postcode
0      Abbey Wood  Bexley,  Greenwich       SE2
1    Crofton Park             Lewisham      SE4
2       Crossness               Bexley      SE2
3  Crystal Palace              Bromley     SE19
4  Crystal Palace              Bromley     SE20
5  Crystal Palace              Bromley     SE26
6    Denmark Hill            Southwark      SE5
7        Deptford             Lewisham      SE8
8         Dulwich            Southwark     SE21
9    East Dulwich            Southwark     SE22

In [68]:
demograph_link = 'https://en.wikipedia.org/wiki/Demography_of_London'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:64.0) Gecko/20100101 Firefox/64.0'}
demograph_page = requests.get(demograph_link, headers = headers)
soup1 = BeautifulSoup(demograph_page.content, 'html.parser')
table1 = soup1.find('table', {'class':'wikitable sortable'}).tbody
rows1 = table1.find_all('tr')
columns1 = [i.text.replace('\n', '')
           for i in rows1[0].find_all('th')]

In [69]:
columns1

['Local authority', 'White', 'Mixed', 'Asian', 'Black', 'Other']

In [70]:
demo_london = pd.DataFrame(columns = columns1)

In [71]:
demo_london.head()

Empty DataFrame
Columns: [Local authority, White, Mixed, Asian, Black, Other]
Index: []

In [73]:
for j in range(1, len(rows1)):
    tds1 = rows1[j].find_all('td')
    if len(tds1) == 7:
        values1 = [tds1[0].text, tds1[1].text, tds1[2].text.replace('\n', ''.replace('\xa0','')), tds1[3].text, tds1[4].text.replace('\n', ''.replace('\xa0','')), tds1[5].text.replace('\n', ''.replace('\xa0',''))]
    else:
        values1 = [td1.text.replace('\n', '').replace('\xa0','') for td1 in tds1]
        
        demo_london = demo_london.append(pd.Series(values1, index = columns1), ignore_index = True)

In [74]:
demo_london['Black'] = demo_london['Black'].astype('float')

In [75]:
demo_london_sorted = demo_london.sort_values(by='Black', ascending = False)

In [76]:
demo_london_sorted.head()

   Local authority White Mixed Asian  Black Other
22        Lewisham  53.5   7.4   9.3   27.2   2.6
55        Lewisham  53.5   7.4   9.3   27.2   2.6
27       Southwark  54.3   6.2   9.4   26.9   3.3
60       Southwark  54.3   6.2   9.4   26.9   3.3
21         Lambeth  57.1   7.6   6.9   25.9   2.4

In [77]:
df_se

,Location,Borough,Postcode
0,Abbey Wood,"Bexley, Greenwich",SE2
1,Crofton Park,Lewisham,SE4
2,Crossness,Bexley,SE2
3,Crystal Palace,Bromley,SE19
4,Crystal Palace,Bromley,SE20
5,Crystal Palace,Bromley,SE26
6,Denmark Hill,Southwark,SE5
7,Deptford,Lewisham,SE8
8,Dulwich,Southwark,SE21
9,East Dulwich,Southwark,SE22
10,Elephant and Castle,Southwark,SE1
11,Elephant and Castle,Southwark,SE11
12,Elephant and Castle,Southwark,SE17
13,Eltham,Greenwich,SE9
14,Falconwood,"Bexley, Greenwich",SE9
15,Bankside,Southwark,SE1
16,Forest Hill,Lewisham,SE23
17,Gipsy Hill,Lambeth,SE19
18,Gipsy Hill,Lambeth,SE27
19,Greenwich,Greenwich,SE10
20,Grove Park,Lewisham,SE12
21,Herne Hill,Lambeth,SE24
22,Hither Green,Lewisham,SE13
23,Honor Oak,Lewisham,SE23
24,Horn Park,"Greenwich, Lewisham",SE12
25,Kennington,"Lambeth, Southwark",SE11
26,Kidbrooke,Greenwich,SE3
27,Ladywell,Lewisham,SE4
28,Ladywell,Lewisham,SE13
29,Lambeth,Lambeth,SE1
30,Lee,Lewisham,SE12
31,Lewisham,Lewisham,SE13
32,Beckenham,Bromley,SE20
33,Longlands,Bexley,SE9
34,Maze Hill,Greenwich,SE10
35,Middle Park,Greenwich,SE9
36,Mottingham,Bromley,SE9
37,New Cross,Lewisham,SE14
38,New Eltham,Greenwich,SE9
39,Newington,Southwark,SE1
40,Newington,Southwark,SE17
41,Nunhead,Southwark,SE15
42,Oval,Lambeth,SE11
43,Bellingham,Lewisham,SE6
44,Peckham,Southwark,SE15
45,Penge,Bromley,SE20
46,Plumstead,Greenwich,SE18
47,Rotherhithe,Southwark,SE16
48,Selhurst,Croydon,SE25
49,Shooter's Hill,Greenwich,SE18
50,Bermondsey,Southwark,SE1
51,South Norwood,Croydon,SE25
52,Southend,Lewisham,SE6
53,St Johns,Lewisham,SE4
54,Bexleyheath (also Bexley New Town),Bexley,SE2
55,Surrey Quays,Southwark,SE16
56,"Sydenham (also Lower Sydenham, Upper Sydenham)","Lewisham, Bromley",SE26
57,Sydenham Hill,"Lewisham, Southwark",SE21
58,Sydenham Hill,"Lewisham, Southwark",SE26
59,Thamesmead,"Bexley, Greenwich",SE28
60,Thamesmead,"Bexley, Greenwich",SE2
61,Tulse Hill,Lambeth,SE24
62,Tulse Hill,Lambeth,SE27
63,Upper Norwood,Croydon,SE19
64,Walworth,Southwark,SE17
65,Well Hall,Greenwich,SE9
66,Blackheath,Lewisham,SE3
67,West Heath,Bexley,SE2
68,Blackheath Royal Standard,Greenwich,SE3
69,Blackheath Royal Standard,Greenwich,SE12
70,West Norwood,Lambeth,SE27
71,Westcombe Park,Greenwich,SE3
72,Woolwich,Greenwich,SE18
73,Brixton,Lambeth,SE5
74,Brockley,Lewisham,SE4
75,Camberwell,Southwark,SE5
76,Catford,Lewisham,SE6
77,Charlton,Greenwich,SE7
78,Anerley,Bromley,SE20
79,Chinbrook,Lewisham,SE12

In [78]:
df_se_top = df_se[df_se['Borough'].isin(['Lewisham', 'Southwark', 'Lambeth', 'Hackney', 'Croydon'])].reset_index(drop=True)

In [79]:
df_se_top.head()

       Location    Borough Postcode
0  Crofton Park   Lewisham      SE4
1  Denmark Hill  Southwark      SE5
2      Deptford   Lewisham      SE8
3       Dulwich  Southwark     SE21
4  East Dulwich  Southwark     SE22

In [80]:
df_se_top.shape

(46, 3)

In [81]:
df_se.shape

(80, 3)

In [82]:
def get_latlng(arcgis_geocoder):
    
    
    lat_lng_coords = None
    
    
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, London, United Kingdom'.format(arcgis_geocoder))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [83]:
sample = get_latlng('SE2')
sample

[51.492450000000076, 0.12127000000003818]

In [84]:
gg = geocoder.geocodefarm(sample, method = 'reverse')
gg

<[FAILED, NO_RESULTS] Geocodefarm - Reverse [empty]>

In [85]:
start = time.time()
postal_codes = df_se_top['Postcode']    
coordinates = [get_latlng(postal_code) for postal_code in postal_codes.tolist()]
end = time.time()
print("Time of execution: ", end - start, "seconds")

Time of execution:  37.85112261772156 seconds

In [86]:
df_se_loc = df_se_top
df_se_coordinates = pd.DataFrame(coordinates, columns = ['Latitude', 'Longitude'])
df_se_loc['Latitude'] = df_se_coordinates['Latitude']
df_se_loc['Longitude'] = df_se_coordinates['Longitude']

In [87]:
df_se_loc.head()

       Location    Borough Postcode  Latitude  Longitude
0  Crofton Park   Lewisham      SE4  51.46268   -0.03558
1  Denmark Hill  Southwark      SE5  51.47480   -0.09313
2      Deptford   Lewisham      SE8  51.48114   -0.02467
3       Dulwich  Southwark     SE21  51.44100   -0.08897
4  East Dulwich  Southwark     SE22  51.45256   -0.07076

In [88]:
df_se_loc.to_csv('SELondonLocationsCoordinates.csv', index = False)

In [89]:
df_se_loc.shape

(46, 5)

In [110]:
CLIENT_ID = ['I4FP3HHIKU3ARNA1FJOP2PARAWHCKURO2J3E0VD1R14QHS0K'] 
CLIENT_SECRET = ['IOLW0HFAZJTR3BLOMPT53MQBIOTCCHZ1L4ULAQH411BKLJ5N']
VERSION = ['VERSION']

In [111]:
se_df = df_se_loc.reset_index().drop('index', axis = 1)

In [112]:
se_df.shape

(46, 5)

In [113]:
se_df

               Location    Borough Postcode  Latitude  Longitude
0          Crofton Park   Lewisham      SE4  51.46268   -0.03558
1          Denmark Hill  Southwark      SE5  51.47480   -0.09313
2              Deptford   Lewisham      SE8  51.48114   -0.02467
3               Dulwich  Southwark     SE21  51.44100   -0.08897
4          East Dulwich  Southwark     SE22  51.45256   -0.07076
5   Elephant and Castle  Southwark      SE1  51.49996   -0.09568
6   Elephant and Castle  Southwark     SE11  51.49084   -0.11108
7   Elephant and Castle  Southwark     SE17  51.48764   -0.09542
8              Bankside  Southwark      SE1  51.49996   -0.09568
9           Forest Hill   Lewisham     SE23  51.44122   -0.04764
10           Gipsy Hill    Lambeth     SE19  51.41990   -0.08808
11           Gipsy Hill    Lambeth     SE27  51.43407   -0.10375
12           Grove Park   Lewisham     SE12  51.44759    0.01350
13           Herne Hill    Lambeth     SE24  51.45529   -0.09928
14         Hither Green   Lewisham     SE13  51.46196   -0.00754
15            Honor Oak   Lewisham     SE23  51.44122   -0.04764
16             Ladywell   Lewisham      SE4  51.46268   -0.03558
17             Ladywell   Lewisham     SE13  51.46196   -0.00754
18              Lambeth    Lambeth      SE1  51.49996   -0.09568
19                  Lee   Lewisham     SE12  51.44759    0.01350
20             Lewisham   Lewisham     SE13  51.46196   -0.00754
21            New Cross   Lewisham     SE14  51.47489   -0.04038
22            Newington  Southwark      SE1  51.49996   -0.09568
23            Newington  Southwark     SE17  51.48764   -0.09542
24              Nunhead  Southwark     SE15  51.47218   -0.06779
25                 Oval    Lambeth     SE11  51.49084   -0.11108
26           Bellingham   Lewisham      SE6  51.43722   -0.01868
27              Peckham  Southwark     SE15  51.47218   -0.06779
28          Rotherhithe  Southwark     SE16  51.49574   -0.05157
29             Selhurst    Croydon     SE25  51.39925   -0.07414
30           Bermondsey  Southwark      SE1  51.49996   -0.09568
31        South Norwood    Croydon     SE25  51.39925   -0.07414
32             Southend   Lewisham      SE6  51.43722   -0.01868
33             St Johns   Lewisham      SE4  51.46268   -0.03558
34         Surrey Quays  Southwark     SE16  51.49574   -0.05157
35           Tulse Hill    Lambeth     SE24  51.45529   -0.09928
36           Tulse Hill    Lambeth     SE27  51.43407   -0.10375
37        Upper Norwood    Croydon     SE19  51.41990   -0.08808
38             Walworth  Southwark     SE17  51.48764   -0.09542
39           Blackheath   Lewisham      SE3  51.47138    0.02338
40         West Norwood    Lambeth     SE27  51.43407   -0.10375
41              Brixton    Lambeth      SE5  51.47480   -0.09313
42             Brockley   Lewisham      SE4  51.46268   -0.03558
43           Camberwell  Southwark      SE5  51.47480   -0.09313
44              Catford   Lewisham      SE6  51.43722   -0.01868
45            Chinbrook   Lewisham     SE12  51.44759    0.01350

In [114]:
se_df.loc[se_df['Location'] == 'Lewisham']

    Location   Borough Postcode  Latitude  Longitude
20  Lewisham  Lewisham     SE13  51.46196   -0.00754

In [115]:
se_df.loc[20, 'Location']

'Lewisham'

In [116]:
lewisham_lat = se_df.loc[20, 'Latitude']
lewisham_long = se_df.loc[20, 'Longitude']
lewisham_loc = se_df.loc[20, 'Location']
lewisham_postcode = se_df.loc[20, 'Postcode']
print('The latitude and longitude values of {} with postcode {}, are {}, {}.'.format(lewisham_loc,
                                                                                         lewisham_postcode,
                                                                                         lewisham_lat,                                                                                lewisham_long))

The latitude and longitude values of Lewisham with postcode SE13, are 51.46196000000003, -0.007539999999949032.

In [117]:
LIMIT = 100 
radius = 2000 
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    lewisham_lat, 
    lewisham_long, 
    radius, 
    LIMIT)
url

"https://api.foursquare.com/v2/venues/explore?&client_id=['I4FP3HHIKU3ARNA1FJOP2PARAWHCKURO2J3E0VD1R14QHS0K']&client_secret=['IOLW0HFAZJTR3BLOMPT53MQBIOTCCHZ1L4ULAQH411BKLJ5N']&v=['VERSION']&ll=51.46196000000003,-0.007539999999949032&radius=2000&limit=100"

In [131]:
results = requests.get(url).json()
results

{'meta': {'code': 400,
  'errorType': 'invalid_auth',
  'errorDetail': 'Missing access credentials. See https://developer.foursquare.com/docs/api/configuration/authentication for details.',
  'requestId': '5f14a3e0d1de386ab3bdb894'},
 'response': {}}

In [132]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [146]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) 
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

KeyError: 'groups'

In [147]:
nearby_venues

NameError: name 'nearby_venues' is not defined

In [148]:
nearby_venues_lewisham_unique = nearby_venues['categories'].value_counts().to_frame(name='Count')

NameError: name 'nearby_venues' is not defined

In [149]:
nearby_venues_lewisham_unique.head(5)

NameError: name 'nearby_venues_lewisham_unique' is not defined

In [150]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

NameError: name 'nearby_venues' is not defined

In [151]:
def getNearbyVenues(names, latitudes, longitudes, radius=2000):
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
        results = requests.get(url).json()["response"]['groups'][0]['items']
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    return(nearby_venues)

In [152]:
se_venues = getNearbyVenues(names=se_df['Location'],
                                   latitudes=se_df['Latitude'],
                                   longitudes=se_df['Longitude']
                                  )

Crofton Park

KeyError: 'groups'

In [153]:
se_venues.shape

NameError: name 'se_venues' is not defined

In [154]:
len(se_venues)

NameError: name 'se_venues' is not defined

In [155]:
se_venues['Neighbourhood'].value_counts()
se_venues.to_csv('se_venues.csv')

NameError: name 'se_venues' is not defined

In [156]:
se_venues.head(5)

NameError: name 'se_venues' is not defined

In [157]:
se_venues.groupby('Neighbourhood').count()

NameError: name 'se_venues' is not defined

In [158]:
print('There are {} uniques categories.'.format(len(se_venues['Venue Category'].unique())))

NameError: name 'se_venues' is not defined

In [159]:
se_venue_unique_count = se_venues['Venue Category'].value_counts().to_frame(name='Count')

NameError: name 'se_venues' is not defined

In [160]:
se_venue_unique_count.head(5)

NameError: name 'se_venue_unique_count' is not defined

In [161]:
se_venue_unique_count.head(5)

NameError: name 'se_venue_unique_count' is not defined

In [162]:
se_venue_unique_count.describe()

NameError: name 'se_venue_unique_count' is not defined

In [163]:
address = 'London, United Kingdom'
geolocator = Nominatim(user_agent="ln_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of London are 51.5073219, -0.1276474.

In [164]:
map_london = folium.Map(location = [latitude, longitude], zoom_start = 12)
map_london

In [165]:
for lat, lng, borough, loc in zip(se_df['Latitude'], 
                                  se_df['Longitude'],
                                  se_df['Borough'],
                                  se_df['Location']):
    label = '{} - {}'.format(loc, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7).add_to(map_london)  
display(map_london)

In [166]:
type(se_df)

pandas.core.frame.DataFrame

In [167]:
se_onehot = pd.get_dummies(se_venues[['Venue Category']], prefix = "", prefix_sep = "")

NameError: name 'se_venues' is not defined

In [168]:
se_onehot['Neighbourhood'] = se_venues['Neighbourhood']

NameError: name 'se_venues' is not defined

In [169]:
fixed_columns = [se_onehot.columns[-1]] + list(se_onehot.columns[:-1])
se_onehot = se_onehot[fixed_columns]

NameError: name 'se_onehot' is not defined

In [170]:
se_onehot.head(5)

NameError: name 'se_onehot' is not defined

In [171]:
se_onehot.loc[se_onehot['African Restaurant'] != 0]

NameError: name 'se_onehot' is not defined

In [172]:
se_onehot.loc[se_onehot['Neighbourhood'] == 'Lewisham']

NameError: name 'se_onehot' is not defined

In [173]:
se_onehot.to_csv('selondon_onehot.csv', index = False)

NameError: name 'se_onehot' is not defined

In [174]:
se_onehot.shape

NameError: name 'se_onehot' is not defined

In [175]:
se_grouped = se_onehot.groupby('Neighbourhood').mean().reset_index()
se_grouped.head()

NameError: name 'se_onehot' is not defined

In [176]:
print("Before One-hot encoding:", se_df.shape)
print("After One-hot encoding:", se_grouped.shape)

Before One-hot encoding: (46, 5)

NameError: name 'se_grouped' is not defined

In [177]:
se_grouped.to_csv('london_grouped.csv', index = False)

NameError: name 'se_grouped' is not defined

In [178]:
num_top_venues = 10 

for hood in se_grouped['Neighbourhood']:
    print("----"+hood+"----")
    temp = se_grouped[se_grouped['Neighbourhood'] == hood].T.reset_index()
    temp.columns = ['venue', 'freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending = False).reset_index(drop = True).head(num_top_venues))
    print('\n')

NameError: name 'se_grouped' is not defined

In [179]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending = False)
    return row_categories_sorted.index.values[0:num_top_venues]

In [180]:
num_top_venues = 10
indicators = ['st', 'nd', 'rd']
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))
neighbourhoods_venues_sorted = pd.DataFrame(columns=columns)
neighbourhoods_venues_sorted['Neighbourhood'] = se_grouped['Neighbourhood']
for ind in np.arange(se_grouped.shape[0]):
    neighbourhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(se_grouped.iloc[ind, :], num_top_venues)

NameError: name 'se_grouped' is not defined

In [181]:
neighbourhoods_venues_sorted.head()

Empty DataFrame
Columns: [Neighbourhood, 1st Most Common Venue, 2nd Most Common Venue, 3rd Most Common Venue, 4th Most Common Venue, 5th Most Common Venue, 6th Most Common Venue, 7th Most Common Venue, 8th Most Common Venue, 9th Most Common Venue, 10th Most Common Venue]
Index: []

In [182]:
neighbourhoods_venues_sorted.to_csv('neighbourhoods_venues_sorted.csv', index = False)

In [183]:
se_grouped_clustering = se_grouped.drop('Neighbourhood', 1)

NameError: name 'se_grouped' is not defined

In [184]:
kclusters = 5
kmeans = KMeans(n_clusters = kclusters, random_state=0).fit(se_grouped_clustering)
kmeans.labels_[0:10]

NameError: name 'se_grouped_clustering' is not defined

In [185]:
kmeans.labels_[0:10]

NameError: name 'kmeans' is not defined

In [186]:
neighbourhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

NameError: name 'kmeans' is not defined

In [187]:
se_merged = se_df

In [188]:
se_merged.head(3)

       Location    Borough Postcode  Latitude  Longitude
0  Crofton Park   Lewisham      SE4  51.46268   -0.03558
1  Denmark Hill  Southwark      SE5  51.47480   -0.09313
2      Deptford   Lewisham      SE8  51.48114   -0.02467

In [189]:
se_merged_latlong = se_merged.join(neighbourhoods_venues_sorted.set_index('Neighbourhood'), on = 'Location')

In [190]:
se_merged_latlong.head(5)

,Location,Borough,Postcode,Latitude,Longitude,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Crofton Park,Lewisham,SE4,51.46268,-0.03558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Denmark Hill,Southwark,SE5,51.47480,-0.09313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Deptford,Lewisham,SE8,51.48114,-0.02467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Dulwich,Southwark,SE21,51.44100,-0.08897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,East Dulwich,Southwark,SE22,51.45256,-0.07076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [191]:
se_clusters = se_merged_latlong

In [192]:
import matplotlib
import numpy as np

In [193]:
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
sse = {}
for n_cluster1 in range(2, 10):
    kmeans1 = KMeans(n_clusters = n_cluster1, max_iter = 500).fit(se_grouped_clustering)
    se_grouped_clustering["clusters"] = kmeans1.labels_
    
    sse[n_cluster1] = kmeans1.inertia_ 
plt.figure()
plt.plot(list(sse.keys()), list(sse.values()))
plt.xlabel("Number of Clusters, k")
plt.ylabel("Sum of Squared Error, SSE")
plt.vlines(3, ymin = -2, ymax = 45, colors = 'red')
plt.show()

NameError: name 'se_grouped_clustering' is not defined

In [194]:
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans
for n_cluster2 in range(2, 10):
    kmeans2 = KMeans(n_clusters = n_cluster2, random_state = 0).fit(se_grouped_clustering)
    label2 = kmeans2.labels_
    sil_coeff = silhouette_score(se_grouped_clustering, label2, metric = 'euclidean')
    print("Where n_clusters = {}, the Silhouette Coefficient is {}".format(n_cluster2, sil_coeff))

NameError: name 'se_grouped_clustering' is not defined

In [195]:
se_clusters.columns

Index(['Location', 'Borough', 'Postcode', 'Latitude', 'Longitude',
       '1st Most Common Venue', '2nd Most Common Venue',
       '3rd Most Common Venue', '4th Most Common Venue',
       '5th Most Common Venue', '6th Most Common Venue',
       '7th Most Common Venue', '8th Most Common Venue',
       '9th Most Common Venue', '10th Most Common Venue'],
      dtype='object')

In [196]:
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]
markers_colors = []
for lat, lon, poi, cluster in zip(se_clusters['Latitude'], se_clusters['Longitude'], se_clusters['Location'], se_clusters['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=20,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
display(map_clusters)

KeyError: 'Cluster Labels'

In [197]:
se_clusters.loc[se_clusters['Cluster Labels'] == 0, se_clusters.columns[[1] + list(range(5, se_clusters.shape[1]))]]

KeyError: 'Cluster Labels'

In [198]:
se_clusters.loc[se_clusters['Cluster Labels'] == 1, se_clusters.columns[[1] + list(range(5, se_clusters.shape[1]))]]

KeyError: 'Cluster Labels'

In [199]:
se_clusters.loc[se_clusters['Cluster Labels'] == 2, se_clusters.columns[[1] + list(range(5, se_clusters.shape[1]))]]

KeyError: 'Cluster Labels'

In [200]:
se_clusters.loc[se_clusters['Cluster Labels'] == 3, se_clusters.columns[[1] + list(range(5, se_clusters.shape[1]))]]

KeyError: 'Cluster Labels'

In [201]:
se_clusters.loc[se_clusters['Cluster Labels'] == 4, se_clusters.columns[[1] + list(range(5, se_clusters.shape[1]))]]

KeyError: 'Cluster Labels'